<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/element-ui-2.0.2.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Hecho</title>
</head>
<body>
<div id="hecho-app">
    <el-container>
        <el-header>
            <el-menu mode="horizontal" default-active="2" @open="focusSearch" menu-trigger="click">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-search"></i></template>
                    <el-menu-item index="1-1">
                        <el-input placeholder="Filter tasks" suffix-icon="el-icon-search" v-model="filterText"
                                  autofocus></el-input>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="2">Hecho</el-menu-item>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-menu"></i></template>
                    <el-menu-item index="3-1" @click="chooseProvider()"><i class="el-icon-upload"></i>Sync to cloud
                    </el-menu-item>
                    <el-menu-item index="3-2" @click="manageCategories()"><i class="el-icon-setting"></i>Manage
                        Categories
                    </el-menu-item>
                    <el-menu-item index="3-3" @click="sortBy(SORT_BY_DATE)"><i class="el-icon-date"></i>Sort by Date
                    </el-menu-item>
                    <el-menu-item index="3-4" @click="sortBy(SORT_BY_PRIORITY)"><i class="el-icon-star-off"></i>Sort by
                        Priority
                    </el-menu-item>
                    <el-menu-item index="3-5" @click="deleteCompletedTasks()"><i class="el-icon-delete"></i>Delete
                        Completed Tasks
                    </el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-main>
            <el-carousel :autoplay="false" interval="0" arrow="always" indicator-position="none" height="50px"
                         @change="selectCategory">
                <el-carousel-item v-for="cat in categories" :key="cat">
                    <span>{{cat.name}}</span>
                </el-carousel-item>
            </el-carousel>

            <el-input v-model="newTaskName" placeholder="New Task"
                      @keyup.native.enter="addTask()"></el-input>
            <el-table :data="computedTasks" :row-class-name="taskStyle">
                <el-table-column>
                    <template slot-scope="scope">
                        <span class="taskEdit" v-show="scope.row.beingEdited">
                            <el-input v-model="scope.row.description" class=""
                                      @keyup.native.enter="saveTask(scope.row)"></el-input>
                        </span>
                        <span v-show="!scope.row.beingEdited">
                            <p class="taskName">{{scope.row.description}}</p>
                            <p class="taskTime">
                                <i class="el-icon-time"></i>
                                <span>{{scope.row.date}}</span>
                                <el-date-picker v-model="scope.row.date" value-format="yyyy/MM/dd"
                                                @change="saveTask(scope.row)"></el-date-picker>
                            </p>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column align="center">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-edit-outline"
                                       @click="editTask(scope.row, scope.$index)"></el-button>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-date"
                                       @click="setTaskDate(scope.$index)"></el-button>
                            <el-button :disabled="isDone(scope.row)" :icon="priorityIcon(scope.row)"
                                       @click="changePriority(scope.row)"></el-button>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-circle-check-outline"
                                       @click="markAsDone(scope.row)"></el-button>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>

        </el-main>
    </el-container>
</div>

<script type="text/javascript" src="/js/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/element/element-ui-2.0.2.js"></script>
<script type="text/javascript" src="/js/element/element-locale-en.js"></script>
<script type="text/javascript">ELEMENT.locale(ELEMENT.lang.en); </script>
<script type="text/javascript" src="/js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.queryString.js"></script>
<script type="text/javascript" src="/js/vue/hecho.app.js"></script>
</body>
</html>