<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/open-iconic.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Hecho</title>
</head>
<body>
<div id="hecho-app" class="container-fluid">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
            Hecho
        </a>

        <form class="form-inline search-form">
            <input class="form-control search-box" type="text" placeholder="Search" aria-label="search"/>
        </form>

        <form clas="form-linline">
            <button class="btn btn-dark" type="button" id="btnDropdownSettings" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-align-right" aria-labelledby="btnDropdownSettings">
                <a class="dropdown-item" href="/settings">
                    <img class="profile-image"
                         src="https://dl-web.dropbox.com/account_photo/get/dbid%3AAAAQUQG6HFeGFKyHZ0xhcwWmxoagkcqMufQ?size=128x128&vers=1504760275526"/>
                    <span>robertux</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sortBy/date">
                    <span>Sort by Date</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sortBy/priority">
                    <span>Sorb ty Priority</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">
                    <span>Logout</span>
                </a>
            </div>
        </form>

    </nav>

    <div id="categoryList" class="list-group">
        <div class="list-group-item list-group-item-primary flex-column align-items-start">
            <div class="d-flex justify-content-between">
                <a aria-label="previous" href="javascript:void(0);" v-on:click="prevCategory">
                    <span class="oi" data-glyph="chevron-left" title="Previous Category" aria-hidden="true"></span>
                </a>
                <h5>{{categories[currentCategory]}}</h5>
                <a aria-label="next" href="javascript:void(0);" v-on:click="nextCategory">
                    <span class="oi" data-glyph="chevron-right" title="Next Category" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    <div id="taskList" class="list-group">
        <div class="list-group-item new-task">
            <div class="task">
                <input id="newTask" class="form-control" placeholder="New Task" type="text" v-model="newTaskName"
                       v-on:keyup.enter="addTask"/>
            </div>
        </div>

        <div v-for="task in tasks" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <div class="task-data"
                     v-bind:class="{'high-pr-task': task.priority == 1, 'low-pr-task': task.priority==-1, 'task-done': task.done}">
                    <p class="task-name">{{task.name}}</p>
                    <small class="text-muted">{{task.due}}</small>
                </div>
                <div class="task-actions" v-show="!task.done">
                    <a href="javascript:void(0)" v-on:click="changePriority(task, 1)">
                        <span class="oi" data-glyph="elevator" title="Normal Priority" aria-hidden="true"
                              v-show="task.priority==0"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="changePriority(task, -1)">
                        <span class="oi" data-glyph="caret-top" title="High Priority" aria-hidden="true"
                              v-show="task.priority==1"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="changePriority(task, 0)">
                        <span class="oi" data-glyph="caret-bottom" title="Low Priority" aria-hidden="true"
                              v-show="task.priority==-1"></span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="oi" data-glyph="check" title="Mark as Done" aria-hidden="true"
                              v-show="!task.done" v-on:click="markAsDone(task)"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-mutd">Hecho v1.1 Copyright &copy; Robertux 2017 <a target="_blank" class="footer-link"
                                                                             href="http://www.robertux.info">About</a></span>
    </div>
</footer>
<script type="text/javascript" src="js/bootstrap/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap/popper.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue/vue.min.js"></script>
<script type="text/javascript" src="js/vue/hecho.app.js"></script>
</body>
</html>