<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/element-ui-2.0.2.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Hecho</title>
</head>
<body>
<div id="hecho-app">
    <el-container>
        <el-header>
            <el-menu mode="horizontal" default-active="2" @open="focusSearch" menu-trigger="click">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-search"></i></template>
                    <el-menu-item index="1-1">
                        <el-input placeholder="Filter tasks" suffix-icon="el-icon-search" v-model="filterText"
                                  autofocus></el-input>
                    </el-menu-item>
                </el-submenu>
                <el-menu-item index="2">Hecho</el-menu-item>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-menu"></i></template>
                    <el-menu-item index="3-1">
                        <img class="profile-image"
                             src="https://dl-web.dropbox.com/account_photo/get/dbid%3AAAAQUQG6HFeGFKyHZ0xhcwWmxoagkcqMufQ?size=128x128&vers=1504760275526"/>
                        <span>robertux</span>
                    </el-menu-item>
                    <el-menu-item index="3-2" @click="manageCategories()"><i class="el-icon-setting"></i>Manage
                        Categories
                    </el-menu-item>
                    <el-menu-item index="3-3" @click="sortBy(SORT_BY_DATE)"><i class="el-icon-date"></i>Sort by Date
                    </el-menu-item>
                    <el-menu-item index="3-4" @click="sortBy(SORT_BY_PRIORITY)"><i class="el-icon-star-off"></i>Sort by
                        Priority
                    </el-menu-item>
                    <el-menu-item index="3-5" @click="deleteCompletedTasks()"><i class="el-icon-delete"></i>Delete
                        Completed Tasks
                    </el-menu-item>
                    <el-menu-item index="3-6"><i class="el-icon-circle-close-outline"></i>Logout</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-header>
        <el-main>
            <el-carousel :autoplay="false" interval="0" arrow="always" indicator-position="none" height="50px"
                         @change="selectCategory">
                <el-carousel-item v-for="cat in categories" :key="cat">
                    <span>{{cat.name}}</span>
                </el-carousel-item>
            </el-carousel>

            <el-input v-model="newTaskName" placeholder="New Task"
                      @keyup.native.enter="addTask()"></el-input>
            <el-table :data="computedTasks" :row-class-name="taskStyle">
                <el-table-column>
                    <template slot-scope="scope">
                        <p class="taskName">{{scope.row.description}}</p>
                        <p class="taskTime">
                            <i class="el-icon-time"></i>
                            <span>{{scope.row.date}}</span>
                        </p>
                    </template>
                </el-table-column>
                <el-table-column align="center">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-edit-outline"></el-button>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-date"></el-button>
                            <el-button :disabled="isDone(scope.row)" :icon="priorityIcon(scope.row)"
                                       @click="changePriority(scope.row)"></el-button>
                            <el-button :disabled="isDone(scope.row)" icon="el-icon-circle-check-outline"
                                       @click="markAsDone(scope.row)"></el-button>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>

        </el-main>
    </el-container>
</div>

<!-- <div id="hecho-app">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
            Hecho
        </a>

        <form class="form-inline search-form">
            <input class="form-control search-box" type="text" placeholder="Search" aria-label="search"
                   v-model="filterText"/>
        </form>

        <form clas="form-linline">
            <button class="btn btn-dark" type="button" id="btnDropdownSettings" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-align-right" aria-labelledby="btnDropdownSettings">
                <a class="dropdown-item" href="/settings">
                    <img class="profile-image"
                         src="https://dl-web.dropbox.com/account_photo/get/dbid%3AAAAQUQG6HFeGFKyHZ0xhcwWmxoagkcqMufQ?size=128x128&vers=1504760275526"/>
                    <span>robertux</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" v-on:click="manageCategories">
                    <span class="oi" data-glyph="list" title="Delete Completed" aria-hidden="true"></span>
                    <span>Manage Categories</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-bind:class="{'selected': sortMethod == SORT_BY_DATE}" v-on:click="sortBy(SORT_BY_DATE)">
                    <span class="oi" data-glyph="clock" title="Sort by Date" aria-hidden="true"></span>
                    <span>Sort by Date</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)"
                   v-bind:class="{selected: sortMethod == SORT_BY_PRIORITY}" v-on:click="sortBy(SORT_BY_PRIORITY)">
                    <span class="oi" data-glyph="elevator" title="Sort by Priority" aria-hidden="true"></span>
                    <span>Sort by Priority</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" v-on:click="deleteCompletedTasks">
                    <span class="oi" data-glyph="trash" title="Delete Completed" aria-hidden="true"></span>
                    <span>Delete Completed Tasks</span>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                    <span class="oi" data-glyph="account-logout" title="Logout" aria-hidden="true"></span>
                    <span>Logout</span>
                </a>
            </div>
        </form>

    </nav>

    <div id="categorySelect" class="list-group" v-show="!editCategoriesMode">
        <div class="list-group-item list-group-item-primary flex-column align-items-start">
            <div class="d-flex justify-content-between">
                <a aria-label="previous" href="javascript:void(0);" v-on:click="prevCategory">
                    <span class="oi" data-glyph="chevron-left" title="Previous Category" aria-hidden="true"></span>
                </a>
                <h5>{{categories[currentCategory].name}}</h5>
                <a aria-label="next" href="javascript:void(0);" v-on:click="nextCategory">
                    <span class="oi" data-glyph="chevron-right" title="Next Category" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    <div id="categoryList" class="list-group" v-show="editCategoriesMode">
        <div class="list-group-item new-item">
            <div class="category">
                <input id="newCategory" class="form-control" placeholder="Add New Category" type="text"
                       v-model="newCategoryName"
                       v-on:keyup.enter="addCategory"/>
            </div>
        </div>

        <div v-for="cat in categories" v-bind:class="{'category-edit': cat.beingEdited}"
             class="list-group-item list-group-item-primary flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <div class="item-data">
                    <p class="category-name" v-show="!cat.beingEdited">{{cat.name}}</p>
                    <input class="form-control" type="text" v-model="cat.name" ref="editTaskInput"
                           v-show="cat.beingEdited" v-focus/>
                </div>
                <div class="item-actions" v-show="!editingOtherCategory(cat) && cat.editable">
                    <a href="javascript:void(0)" v-show="!cat.beingEdited" v-on:click="editCategory(cat)">
                        <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)" v-show="cat.beingEdited" v-on:click="saveCategory(cat)">
                        <span class="oi" data-glyph="circle-check" title="Save" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)" v-show="cat.beingEdited" v-on:click="discardCategory(cat)">
                        <span class="oi" data-glyph="circle-x" title="Discard" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)" v-show="!cat.beingEdited" v-on:click="deleteCategory(cat)">
                        <span class="oi" data-glyph="trash" title="Delete" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="taskList" class="list-group" v-show="!editCategoriesMode">
        <div class="list-group-item new-item">
            <div class="task">
                <input id="newTask" class="form-control" placeholder="Add New Task" type="text" v-model="newTaskName"
                       v-on:keyup.enter="addTask"/>
            </div>
        </div>

        <div v-for="task in computedTasks" class="list-group-item" v-bind:class="{'task-edit': task.beingEdited}">
            <div class="d-flex w-100 justify-content-between">
                <div class="item-data"
                     v-bind:class="{'high-pr-task': task.priority == 1, 'low-pr-task': task.priority==-1, 'task-done': task.status == 'D'}">
                    <p class="task-name" v-show="!task.beingEdited">{{task.description}}</p>
                    <small class="text-muted" v-show="!task.beingEdited">{{task.date}}</small>
                    <input class="form-control" type="text" v-model="task.description" ref="editTaskInput"
                           v-show="task.beingEdited" v-focus/>
                </div>
                <div class="item-actions" v-show="!isDone(task) && !editingATask()">
                    <a href="javascript:void(0)" v-on:click="selectDate(task)">
                        <input type="text" v-bind:id="'date-picker-' + task.id" v-model="task.date"
                               class="date-picker"/>
                        <span class="oi" data-glyph="calendar" title="Change date" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="changePriority(task, 1)">
                        <span class="oi" data-glyph="elevator" title="Normal Priority" aria-hidden="true"
                              v-show="task.priority==0"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="changePriority(task, -1)">
                        <span class="oi" data-glyph="caret-top" title="High Priority" aria-hidden="true"
                              v-show="task.priority==1"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="changePriority(task, 0)">
                        <span class="oi" data-glyph="caret-bottom" title="Low Priority" aria-hidden="true"
                              v-show="task.priority==-1"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="editTask(task)">
                        <span class="oi" data-glyph="pencil" title="Edit" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)">
                        <span class="oi" data-glyph="check" title="Mark as Done" aria-hidden="true"
                              v-show="!isDone(task)" v-on:click="markAsDone(task)"></span>
                    </a>
                </div>
                <div class="item-actions" v-show="task.beingEdited">
                    <a href="javascript:void(0)" v-on:click="saveTask(task)">
                        <span class="oi" data-glyph="circle-check" title="Save" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:void(0)" v-on:click="discardTask(task)">
                        <span class="oi" data-glyph="circle-x" title="Discard" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="text-muted d-flex w-100 justify-content-between">
            <span>Hecho v1.1</span>
            <span>Copyright &copy; Robertux 2017</span>
            <a target="_blank" class="footer-link" href="http://www.robertux.info">About</a>
        </div>
    </div>
</footer>
-->
<script type="text/javascript" src="js/vue/vue.min.js"></script>
<script type="text/javascript" src="js/element/element-ui-2.0.2.js"></script>
<script type="text/javascript" src="js/element/element-locale-en.js"></script>
<script type="text/javascript">ELEMENT.locale(ELEMENT.lang.en); </script>
<script type="text/javascript" src="js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/vue/hecho.app.js"></script>
</body>
</html>