.profile-image {
    border: 4px solid lightblue;
    height: 55px;
}

input[type="text"].search-box {
    /* width: 350px; */
}

div.dropdown-menu-align-right {
    left: inherit;
    right: 5px;
}

div#categoryList {
    margin-top: 120px;
}

div#taskList {
    margin-top: 30px;
}

div.list-group-item.new-task {
    background-color: #f5f5f5;
    padding: 0;
}

div.list-group-item.new-task div input[type="text"] {
    background-color: #f5f5f5;
    border: none;
    padding: 20px;
}

div.list-group-item div.task-done {
    text-decoration: line-through;
}

div.list-group-item div.high-pr-task {
    font-weight: bold;
}

div.list-group-item div.low-pr-task {
    color: #acacac;
}

div.list-group-item div p.task-name {
    margin-bottom: -5px;
}

div.list-group-item div small {
    font-size: 75%;
}


.footer {
	margin-top: 50px;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
	font-size: 10pt;
	color: #8c8c8c;

}