@font-face{
	font-family: 'open-sans';
	src: url('../fonts/open-sans.woff') format('woff');
}

body {
    font-family: 'open-sans', Arial, sans-serif;
}

/*  Para que los elementos del menú abarquen el ancho completo de la página: */
.el-menu.el-menu--horizontal {
    display: flex;
    justify-content: space-between;
}

.el-menu.el-menu--horizontal li {
    display: inline-block;
    float: none;
}

.el-carousel__item {
    background-color: #95C3F2;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}

.el-table .done-row {
    text-decoration: line-through;
}

.el-table .high-priority-row {
    font-weight: bold;
}

.el-table .low-priority-row {
    color: #c6c6c6;
}

.el-table .cell p.taskName {
    margin: 0;
}

.el-table .cell p.taskTime {
    margin: 0;
    font-size: 8pt;
}

.el-table__header-wrapper {
    height: 5px;
}

.el-carousel {
    margin-bottom: 30px;
}

/* Para ocultar el date picker inputText y que la selección de fecha se dispare con el botón: */
.el-date-editor, .el-date-editor input {
    opacity: 0;
    height: 0;
    width: 0;
}

/* Para el funcionamiento del componente Card: */
.box-card {
    width: 480px;
    text-align: center;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

div.el-card__body {
    height: 150px;
    vertical-align: middle;
    display: table-cell;
}

.choose-provider-title {
    text-align: center;
}

.provider-title {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 50px;
    text-align: center;
}