@font-face{
	font-family: 'open-sans';
	src: url('../fonts/open-sans.woff') format('woff');
}

body {
    font-family: 'open-sans', Arial, sans-serif;
}

.profile-image {
    border: 4px solid lightblue;
    height: 55px;
}


/* Para hacer que la opción del menú que muestra la imagen sea más alta que las otras opciones del menú: */
.el-menu .el-submenu .el-menu .el-menu-item:first-child {
    height: 70px;
}

/*  Para que los elementos del menú abarquen el ancho completo de la página: */
.el-menu.el-menu--horizontal {
    display: flex;
    justify-content: space-between;
}

.el-menu.el-menu--horizontal li {
    display: inline-block;
    float: none;
}

.el-carousel__item {
    background-color: #95C3F2;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}

.el-table .done-row {
    text-decoration: line-through;
}

.el-table .high-priority-row {
    font-weight: bold;
}

.el-table .low-priority-row {
    color: #c6c6c6;
}

.el-table .cell p.taskName {
    margin: 0;
}

.el-table .cell p.taskTime {
    margin: 0;
    font-size: 8pt;
}

.el-dialog .el-form--inline div.el-form-item {
    margin-bottom: 0;
}

.el-dialog .el-table__header-wrapper {
    height: 10px;
}